<header class="header">
  <div class="header-container container">
    <a class="header-logo" href="/src/index.html">
      <svg class="header-logo-icon" width="24" height="24">
        <use href="../src/images/icons.svg#logotype"></use>
      </svg>
      <svg class="header-bookshelf" width="78" height="14">
        <use href="../src/images/icons.svg#bookshelf"></use>
      </svg>
    </a>
    <nav class="nav">
      <ul class="nav-list list">
        <li class="nav-item">
          <div class="nav-items">
            <a class="nav-link active-page link" href="/src/index.html">HOME</a>
          </div>
        </li>
        <li class="nav-item">
          <div class="nav-items">
            <a class="nav-link link" href="/src/shopping-list.html"
              >SHOPPING LIST
              <svg class="nav-link-icon" width="20" height="20">
                <use href="/src/images/icons.svg#uil-cart"></use>
              </svg>
            </a>
          </div>
        </li>
      </ul>
    </nav>
    <div class="toggle-switch">
      <label class="switch" for="theme-switch">
        <input id="theme-switch" type="checkbox" />
        <span class="slider circle"></span>
      </label>
      <div class="sign-in-up-ig">
        <a class="sign-up js-sign-up" href="#">
          Sign up
          <svg class="arrow-right" width="20" height="20">
            <use href="/src/images/icons.svg#icon-arrow-right"></use>
          </svg>
        </a>
      </div>
    </div>

    <button
      type="button"
      class="header-btn-modal-open"
      aria-label="burger-menu"
      data-modal-open
    >
      <svg class="modal-icon-open" width="28" height="28">
        <use href="/src/images/icons.svg#icon-menu-hamburger"></use>
      </svg>
    </button>

    <button
      type="button"
      class="header-btn-modal-close visually-hidden"
      aria-label="burger-menu"
      data-modal-close
    >
      <svg class="modal-icon-close" width="28" height="28">
        <use href="/src/images/icons.svg#icon-close"></use>
      </svg>
    </button>
  </div>

  <!-- MODAL -->

  <div class="header-modal" data-header-modal>
    <div class="container header-modal-container">
      <a class="modal-sign-up link" href="#">
        Sign up
        <svg class="arrow-right" width="20" height="20">
          <use href="/src/images/icons.svg#icon-arrow-right"></use>
        </svg>
      </a>
    </div>

    <nav class="modal-nav">
      <ul class="modal-nav-list list">
        <li class="modal-nav-item">
          <div class="modal-nav-items">
            <a class="modal-nav-link active-page link" href="/src/index.html"
              >HOME</a
            >
          </div>
        </li>
        <li class="modal-nav-item">
          <div class="modal-nav-items">
            <a class="modal-nav-link link" href="/src/shopping-list.html"
              >SHOPPING LIST
              <svg class="modal-nav-link-icon" width="20" height="20">
                <use href="/src/images/icons.svg#uil-cart"></use>
              </svg>
            </a>
          </div>
        </li>
      </ul>
    </nav>

    <div class="container">
      <div class="modal-out">
        <a class="modal-log-out" href="#">
          Log out
          <svg class="arrow-right" width="20" height="20">
            <use href="/src/images/icons.svg#icon-arrow-right"></use>
          </svg>
        </a>
      </div>
    </div>

    <picture>
      <source
        class="header-modal-img"
        srcset="
          /src/images/books-group-modal/books-group.png    1x,
          /src/images/books-group-modal/books-group@2x.png 2x
        "
        media=""
        sizes=""
        type="image/png"
      />
      <img
        class="header-modal-img"
        src="/src/images/books-group-modal/books-group.png"
        alt="covers of various books"
      />
    </picture>
  </div>
</header>
