<section class="home">
  <div class="main-content">
    <h1 class="home-title">
      Best Sellers <span class="home-title-part"> Books </span>
    </h1>
    <ul class="best-books js-books-list"></ul>
  </div>
  <!-- <div class="loader-container loader-hidden">
    <span class="loader"></span>
  </div> -->
  <dialog>
    <span class="loader"></span>
    <!-- <h2>I'm an open dialog window</h2> -->
    <!-- <p>Check out my backdrop :)</p> -->
    <!-- <button onclick="closeDialog()">Close</button> -->
  </dialog>
</section>
