<div class="backdrop">
  <div class="modal-window">
    <button class="modal-window-close-dtn">X</button>
    <img class="modal-img" src="#" alt="#" width="287" height="408" />
    <p class="modal-book-title">Назва книги</p>
    <p class="modal-book-author">Автор</p>
    <p class="modal-book-description">Опис книги</p>
    <ul class="modal-links-list">
      <li class="modal-links-item">
        <a class="modal-links-link" href="">посилання</a>
      </li>
      <li class="modal-links-item">
        <a class="modal-links-link" href="">посилання</a>
      </li>
      <li class="modal-links-item">
        <a class="modal-links-link" href="">посилання</a>
      </li>
    </ul>
    <button class="modal-add-btn">add to shopping list</button>
  </div>
</div>
