<div class="backdrop is-hidden">
  <div class="modal-window">
    <button class="modal-window-close-btn">
      <svg class="modal-close-icon">
        <use href="/src/images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-wrapper">
      <div class="modal-img-wrapper">
        <img class="modal-img" src="#" alt="#" width="287" height="408" />
      </div>
      <div class="modal-text-wrapper">
        <p class="modal-book-title"></p>
        <p class="modal-book-author"></p>
        <p class="modal-book-description"></p>
        <ul class="modal-links-list">
          <li class="modal-links-item">
            <a id="amazon" class="modal-links-link" href="">
              <!-- <img
                  class="modal-links-img"
                  src="/src/images/books-links/amazon.png"
                  alt=""
                /> -->
              <div class="modal-links-img-container-amazon"></div>
            </a>
          </li>
          <li class="modal-links-item">
            <a id="apple" class="modal-links-link" href="">
              <!-- <img
                class="modal-links-img"
                src="/src/images/books-links/apple-books.png"
                alt=""
              /> -->
              <div class="modal-links-img-container-apple"></div>
            </a>
          </li>
          <li class="modal-links-item">
            <a id="bookshop" class="modal-links-link" href="">
              <!-- <img
                class="modal-links-img"
                src="/src/images/books-links/bookshop.png"
                alt=""
              /> -->
              <div class="modal-links-img-container-bookshop"></div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <button class="modal-btn js-modal-btn">add to shopping list</button>
    <!-- <button class="modal-btn is-hidden">remove from the shopping list</button> -->
  </div>
</div>
