/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.all-categories {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.125;
  letter-spacing: -0.32px;
  color: rgba(17, 17, 17, 0.6);
  width: 334px;
  height: 228px;
  overflow: auto;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f6f6f6;
}

::-webkit-scrollbar-thumb {
  height: 114px;
  border-radius: 12px;
  background: #e0e0e0;
}

.all-categories-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.125;
  letter-spacing: -0.32px;
  color: rgba(17, 17, 17, 0.6);
  text-align: left;
  margin-bottom: 24px;
}

.all-categories-title:hover,
.all-categories-title:focus {
  font-weight: 700;
  text-transform: uppercase;
  color: #4f2ee8;
}

.all-categories-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.chosen-category {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.125;
  letter-spacing: -0.32px;
  text-transform: uppercase;
  color: #4f2ee8;
}

.category:hover,
.category:focus {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.125;
  letter-spacing: -0.32px;
  text-transform: uppercase;
  color: #4f2ee8;
  cursor: pointer;
}

/* Mobile responsive container */
@media screen and (min-width: 375px) {
  .container {
    width: calc(335px + 2 * 20px);
    margin-left: auto;
    margin-right: auto;
  }

  .sidebar {
    margin-bottom: 40px;
  }
}

/* Tablet adaptive container */
@media screen and (min-width: 768px) {
  .container {
    width: calc(704px + 2 * 32px);
    padding-left: 32px;
    padding-right: 32px;
  }

  .sidebar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  }

  .all-categories {
    font-size: 18px;
    line-height: 1.333;
    letter-spacing: -0.36px;
    width: 337px;
    height: 472px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  ::-webkit-scrollbar-thumb {
    height: 167px;
  }

  .all-categories-list {
    gap: 32px;
  }

  .all-categories:hover,
  .all-categories:focus {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
  }

  .all-categories-title {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
    margin-bottom: 32px;
  }
}

.all-categories-title:hover,
.all-categories-title:focus {
  font-weight: 700;
  text-transform: uppercase;
  color: #4f2ee8;
}

/* Desktop adaptive container */
@media screen and (min-width: 1440px) {
  .container {
    width: calc(1392px + 2 * 24px);
    padding-left: 24px;
    padding-right: 24px;
  }

  .home-container {
    display: flex;
    gap: 40px;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
  }

  .all-categories {
    width: 356px;
    height: 472px;
    margin-bottom: 86px;
  }
}