.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.is-hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header {
  width: 100%;
  margin-bottom: 40px;
  top: 0;
  z-index: 3;
}

.header-container {
  position: relative;
  z-index: 100;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  height: 64px;
  border: 1.5px solid #111;
  border-radius: 0 0 8px 8px;
  min-width: 375px;
  background-color: #ffffff;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-bookshelf {
  margin-left: 8px;
  fill: #000;
}

/* Nav */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-items a {
  font-family: 'DM Sans Medium', sans-serif;
  display: flex;
  align-items: center;
  border-radius: 36px;
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  padding: 8px 16px;
}

.nav-item a:hover,
.nav-item a:focus,
.nav-item a.active-page {
  border-color: #eac645;
  background-color: #eac645;
  font-weight: 700;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-icon {
  margin-left: 4px;
}

.modal-icon-open {
  background-color: transparent;
  line-height: 0;
  border: none;
  stroke: #111111;
}

.modal-icon-close {
  background-color: transparent;
  line-height: 0;
  border: none;
  stroke: #111111;
}

.header-btn-modal-open {
  display: none;
  stroke: #111;
  fill: #111111;
  color: black;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 28px;
}

.toggle-switch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px auto;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {
  opacity: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(220, 220, 220, 1) 0%,
    rgba(79, 46, 232, 1) 100%
  );
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1),
    1px 2px 4px rgba(0, 0, 0, 0.1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:checked + .slider {
  background: linear-gradient(
    180deg,
    rgba(104, 104, 104, 1) 0%,
    rgba(79, 46, 232, 1) 100%
  );
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}

input:checked + .slider:before {
  transform: translateX(16px);
}

.slider,
.circle {
  border-radius: 24px;
}

.circle::before {
  border-radius: 50%;
}

input:checked + .circle::before {
  background-color: #fff;
}

.arrow-right {
  stroke: #eac645;
}

.sign-up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'DM Sans Medium', sans-serif;
  font-size: 14px;
  width: 184px;
  height: 48px;
  padding: 12px 14px;
  text-decoration: none;
  background: #4f2ee8;
  border: 1.5px solid #111111;
  border-radius: 18px;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: #ffffff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  stroke: #eac645;
}

.sign-up:hover,
.sign-up:focus {
  color: #eac645;
  border-color: #eac645;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sign-in-up-ig {
  margin-left: 24px;
  position: relative;
  display: inline-flex;
}

/* Media queries */

@media screen and (max-width: 767px) {
  .header-btn-modal-open {
    display: block;
  }

  .sign-up {
    display: none;
  }

  .nav-list {
    display: none;
  }
}

/* Tablet and desktop styles */

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .header-container {
    max-width: 768px;
    height: 72px;
    padding: 14px 32px;
  }

  .header {
    position: relative;
  }

  .sign-up {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 184px;
    height: 45px;
    padding: 12px 14px;
    text-decoration: none;
    background: #4f2ee8;
    border-radius: 36px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.04em;
    color: #ffffff;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    stroke: #eac645;
  }

  .nav {
    margin-left: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .header-container {
    max-width: 1440px;
    height: 72px;
    padding: 14px 24px;
  }

  .sign-up {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 184px;
    height: 45px;
    padding: 12px 14px;
    text-decoration: none;
    background: #4f2ee8;
    border-radius: 36px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.04em;
    color: #ffffff;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    stroke: #eac645;
  }

  .nav-list {
    gap: 24px;
  }

  .nav {
    margin-left: 76px;
  }
}

/*! MODAL */

.header-modal {
  position: fixed;
  max-width: 375px;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #fff 100%
  );
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 375px) {
  .header-modal {
    width: 100%;
  }
}

.header-modal.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.disable-scroll {
  overflow: hidden
}

.header-btn-modal-open.is-close {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-btn-modal-close {
  position: absolute;
  top: 17;
  right: 20;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 28px;
  width: 28px;
}

.header-modal-container {
  margin-top: 104px;
  margin-bottom: 126px;
}
.modal-sign-up {
  font-family: 'DM Sans Medium', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 184px;
  height: 48px;
  padding: 12px 14px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: #ffffff;
  background: #4f2ee8;
  border: 1.5px solid #111111;
  border-radius: 18px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-sign-up:hover,
.modal-sign-up:focus {
  color: #eac645;
  border-color: #eac645;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .header-modal {
    display: none;
  }
}

.header-modal-img {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

/*? Modal Navigation */

.modal-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.modal-nav-list {
  margin: 0 auto;
}

.modal-nav-items {
  display: inline-block;
}

.modal-nav-link {
  font-family: 'DM Sans Medium', sans-serif;
  display: flex;
  align-items: center;
  border-radius: 36px;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  padding: 8px 16px;
}

.modal-nav-item a:hover,
.modal-nav-item a:focus,
.modal-nav-item a.active-page {
  border-color: #eac645;
  background-color: #eac645;
  color: #111111;
  font-weight: 700;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-nav-link-icon {
  fill: #ffffff;
  margin-left: 4px;
}

/*? Modal Log Out */

.modal-out {
  position: absolute;
  bottom: 20;
  left: 20;
}

.modal-log-out {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'DM Sans Medium', sans-serif;
  width: 118px;
  height: 48px;
  padding: 14px 24px;
  background: #ffffff;
  border: 1.5px solid #111111;
  border-radius: 18px;
  letter-spacing: -0.04em;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-log-out:hover,
.modal-log-out:focus {
  background: #4f2ee8;
  color: #eac645;
  border-color: #eac645;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
