.main-content {
  margin-left: auto;
  margin-right: auto;
}
.home-title {
  color: #111;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.188;
  letter-spacing: -1.28px;
  margin-bottom: 40px;
}

.home-title-part {
  color: #4f2ee8;
}
.best-books-heder {
  color: #b4afaf;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.286;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.best-book-link,
.group-book-link {
  cursor: pointer;
}
.book-image {
  position: relative;
  overflow: hidden;
  margin-bottom: 14px;
}

.overlay {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding: 0px 52px;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 8px 8px;
  background: #eac645;
  cursor: pointer;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
}

.best-book-link:hover .overlay,
.book-image:hover .overlay {
  transform: translateY(0);
  cursor: pointer;
}

.overlay-text {
  color: #111;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.56px;
  text-transform: uppercase;
}
.best-book-icon,
.group-book-icon {
  width: 335px;
  height: 485px;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  cursor: pointer;
}

.best-book-title,
.group-book-title {
  color: #111;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.125;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  cursor: pointer;
}

.best-book-author,
.group-book-author {
  color: #b4afaf;
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  line-height: 1.17;
  letter-spacing: -0.48px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  cursor: pointer;
}
.best-books-btn {
  display: block;
  color: #111;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.14px;
  text-transform: uppercase;
  padding: 14px 28px;
  border-radius: 40px;
  border: 2px solid #4f2ee8;
  background-color: var(--body-color);
  margin-left: auto;
  transition: transform 250ms ease-in-out;
}
.best-books-btn:hover,
.best-books-btn:focus {
  transform: scale(1.1);
}

/* styles for Top books */
@media screen and (max-width: 767px) {
  .best-books {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .best-books-list {
    margin-bottom: 8px;
  }
  .best-books-link:not(:first-child) {
    display: none;
  }

  .best-book-icon,
  .group-book-icon {
    width: 335px;
    height: 485px;
  }

  /* styles for group books */
  .category-book-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}
/* Mobile responsive container */
@media screen and (min-width: 375px) {
  .container {
    width: calc(335px + 2 * 20px);
    margin-left: auto;
    margin-right: auto;
  }
}

/* Tablet adaptive container */
@media screen and (min-width: 768px) {
  .container {
    width: calc(704px + 2 * 32px);
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.08;
    letter-spacing: -1.92px;
  }
  .best-books-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 24px;
  }
  .best-books-link,
  .group-book-link {
    flex-basis: calc((704px - 25px * 2) / 3);
  }
  .best-book-icon,
  .group-book-icon {
    max-width: calc((704px - 25px * 2) / 3);
    height: 316px;
  }

  .best-books {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .best-books-link:nth-child(n + 4) {
    display: none;
  }
  .best-book-title,
  .group-book-title {
    text-overflow: ellipsis;
  }
  /* styles for group books */
  .category-book-page {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 40px;
    column-gap: 25px;
  }
}

/* Desktop adaptive container */
@media screen and (min-width: 1440px) {
  .container {
    width: calc(1392px + 2 * 24px);
    padding-left: 24px;
    padding-right: 24px;
  }

  .best-books-link,
  .group-book-link {
    flex-basis: calc((996px - 24px * 4) / 5);
  }
  .group-book-link {
    margin-bottom: 40px;
  }
  .category-book-page {
    row-gap: 0px;
    column-gap: 24px;
  }

  .best-book-icon,
  .group-book-icon {
    max-width: calc((996px - 24px * 4) / 5);
    height: 256px;
  }
  .best-books-link:nth-child(n + 4) {
    display: block;
  }
  .best-books-list {
    display: flex;
    margin-bottom: 32px;
  }
}
