.home-title {
    font-size: 26;
    color: turquoise
}


.best-books {
    display: flex;
    flex-direction: column;
}

.best-books-heder {
    margin-bottom: 18px;
}

.best-books-list {
    display: flex;
    gap: 18px;
    margin-bottom: 32px;
}

.best-books-btn {
    display: block;
    margin-left: auto;
}

.category-book-page {
    display: flex;
    flex-wrap: wrap;
}