.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* max-width: 335px; */
  /* height: 762px; */
  background-color: var(--white-color);
  border-radius: 18px;
  padding: 40px 24px;
  border: 2px solid #111;
}
.modal-window-close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
}
.modal-close-icon {
  stroke: #111111;
  width: 100%;
  height: 100%;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon:hover,
.modal-close-icon:focus {
  stroke: #4f2ee8;
}
.modal-img-wrapper {
  max-width: 287px;
  max-height: 408px;
  margin-bottom: 14px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.modal-img {
  border-radius: 8px;
  max-width: 287px;
  max-height: 408px;
}
.modal-text-wrapper {
  margin-bottom: 40px;
}
.modal-book-title {
  color: #111;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: -0.64px;
  margin-bottom: 4px;
  margin-top: 0;
  margin-right: auto;
  max-width: 250px;
}
.modal-book-author {
  font-size: 12px;
  color: #b4afaf;
  font-style: italic;
  letter-spacing: -0.48px;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 18px;
  margin-right: auto;
}
.modal-book-description {
  color: #111111;
  text-align: left;
  margin-top: 0;
  margin-bottom: 14px;
  margin-right: auto;
  line-height: 1.2;
  letter-spacing: -0.56px;
  max-width: 287px;
}
.modal-links-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 0;
  margin-right: auto;
  padding: 0;
}
/* .modal-links-item {
}
.modal-links-link {
} */

.modal-links-img {
  filter: grayscale(100%);
  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-links-link:hover,
.modal-links-link:focus {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}

.modal-btn {
  background-color: transparent;
  color: #111111;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.14px;
  line-height: 1.2;
  border: 2px solid #4f2ee8;
  padding: 14px 23px;
  border-radius: 40px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  box-sizing: content-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #4f2ee8;
  color: var(--white-color);
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.15);
}
.modal-btn.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.remove-btn {
  display: none;
  margin-bottom: 8px;
}

.modal-desc-text {
  display: none;
  color: rgba(17, 17, 17, 0.5);
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.4px;
  max-width: 242px;
  margin-left: auto;
  margin-right: auto;
}

/* .modal-remove-btn {
  position: absolute;
  bottom: 76px;
  background-color: transparent;
  color: #111111;
  font-size: 14px;
  font-weight: 700;
  border: 2px solid #4f2ee8;
  padding: 14px 28px;
  border-radius: 40px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-remove-btn:hover,
.modal-remove-btn:focus {
  background-color: #4f2ee8;
  color: var(--white-color);
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.15);
}

.modal-remove-btn.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
} */

/* --------------------------------------TABLET STYLES--------------------------------------- */

@media screen and (min-width: 768px) {
  .modal-window {
    /* max-width: 579px;
    max-height: 465px; */
  }
  .modal-window-close-btn {
    top: 24px;
    right: 24px;
  }
  .modal-wrapper {
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
  }
  .modal-img-wrapper {
    width: 192px;
    height: 281px;
    margin-bottom: 0;
  }
  .modal-img {
    width: 192px;
    height: 281px;
  }

  .modal-book-title {
    margin-bottom: 8px;
    font-size: 24px;
  }
  .modal-book-author {
    margin-bottom: 20px;
    font-size: 14px;
  }
  .modal-book-description {
    margin-bottom: 20px;
  }
  /* .modal-links-list {
  }
  .modal-links-item {
  }
  .modal-links-link {
  }
  .modal-links-img {
  } */
  .modal-btn {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    font-size: 18px;
  }

  /* .modal-remove-btn {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    font-size: 18px;
  } */

  .modal-desc-text {
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: -0.48px;
    max-width: 324px;
  }
}
