:root {
  --body-color: #f6f6f6;
  --white-color: #fff;
  --brand-color: #4f2ee8;
  --description-color: #b4afaf;
  --text-color: #111;
}
@media screen and (min-width: 375px) {
  .shopping-list-container {
    width: calc(335px + 2 * 20px);
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 767px) {
  .shopping-list-title-book {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-width: 144px;
  }
}
@media screen and (max-width: 1439px) {
  .page-shopping-list .shopping-list-support-ukraine {
    display: none;
  }
}
.shopping-list-title {
  font-size: 32;
  font-weight: 700;
  line-height: 1.188;
  letter-spacing: -1.28px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.shopping-list-title-next-color {
  color: var(--brand-color);
}
.shopping-list-book-image-wrapper {
  width: 100px;
  height: 142px;
  margin: 0;
}

.shopping-list-js-book {
  position: relative;
  display: flex;
  align-items: flex-start;
  height: auto;
  max-width: 335px;
  gap: 14px;
  background-color: var(--white-color);
  border: 2px solid rgba(79, 46, 232, 0.4);
  padding: 14px;
  border-radius: 16px;
  margin-bottom: 20px;
  position: relative;
}

.shopping-list-book-image {
  width: 100px;
  height: auto;
  display: block;
  border-radius: 8px;
}
.shopping-list-list-name {
  color: var(--description-color);
  max-width: 165px;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.667;
  letter-spacing: 0.36px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.shopping-list-book-author {
  color: var(--description-color);
  font-weight: 400;
  margin-top: 0;
  margin-right: auto;
  font-size: 12px;
  font-style: italic;
  width: 97px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  letter-spacing: -0.48px;
}
.shopping-list-title-book {
  color: var(--text-color);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 4px;
  margin-right: auto;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.12;
}
.shopping-list-description {
  color: var(--text-color);
  text-align: left;
  margin-top: 0;
  margin-right: auto;
  width: 193px;
  height: auto;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  margin-bottom: 16px;
}
.shopping-list-author-links {
  position: absolute;
  justify-content: space-between;
  align-items: baseline;
  display: flex;
  bottom: 14px;
  width: 193px;
}
.shopping-list-links-list {
  display: flex;
  gap: 8px;
  align-items: center;
}
.shopping-list-links-icon {
  width: 16px;
  height: 16px;
  filter: grayscale();
  transition: filter, all 0.25s linear;
}
.shopping-list-links-icon:hover,
.shopping-list-links-icon:focus {
  filter: grayscale() drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}
.shopping-list-links-icon-amazon {
  width: 32px;
  height: 11px;
  filter: grayscale();
  transition: filter, all 0.25s linear;
}
.shopping-list-links-icon-amazon:hover,
.shopping-list-links-icon-amazon:focus {
  filter: grayscale() drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}
.shopping-list-links-icon-apple {
  width: 16px;
  height: 16px;
  filter: grayscale();
  transition: filter, all 0.25s linear;
}
.shopping-list-links-icon-apple:hover,
.shopping-list-links-icon-apple:focus {
  filter: grayscale() drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}
.shopping-list-btn-remove {
  position: absolute;
  top: 14px;
  right: 14px;
  background: none;
  border: none;
}
.shopping-list-icon-remove {
  fill: var(--brand-color);
  stroke: var(--white-color);
  width: 28px;
  height: 28px;
  transition: fill, all 0.25s linear;
}
.shopping-list-icon-remove:hover,
.shopping-list-icon-remove:focus {
  fill: #eac645;
}
.shopping-list-default {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shopping-list-default-message {
  margin-top: 80px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.28px;
  max-width: 244px;
  margin-bottom: 14px;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

.pagination-prev,
.pagination-next {
  border-radius: 36px;
  background-color: var(--brand-color);
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: none;
  transition: background-color, all 0.25s linear;
  margin-left: 10px;
  margin-right: 10px;
}
.pagination-prev:hover,
.pagination-next:focus {
  background-color: #eac645;
}

.pagination-prev:disabled,
.pagination-next:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.pagination-total,
.pagination-current {
  color: var(--text-color);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.22;
}

@media screen and (min-width: 768px) {
  .container {
    width: calc(704px + 2 * 32px);
    padding-left: 32px;
    padding-right: 32px;
  }
  .shopping-list-title {
    letter-spacing: -1.92px;
    font-size: 48px;
    line-height: 1.08;
  }
  .shopping-list-js-book {
    height: auto;
    max-width: 704px;
    gap: 24px;
    padding: 24px;
  }
  .shopping-list-book-image {
    width: 116px;
    max-height: 165px;
  }
  .shopping-list-title-book {
    width: 508px;
    line-height: 1.3;
  }
  .shopping-list-list-name {
    max-width: 100%;
    margin-bottom: 14px;
  }
  .shopping-list-description {
    width: 508px;
    height: auto;
    margin-bottom: 0;
    line-height: 1.29;
  }
  .shopping-list-icon-remove {
    width: 34px;
    height: 34px;
  }
  .shopping-list-btn-remove {
    top: 24px;
    right: 24px;
  }
  .shopping-list-book-author {
    width: 120px;
  }
  .shopping-list-links-list {
    gap: 16px;
  }
  .shopping-list-links-icon {
    width: 32px;
    height: 30px;
  }
  .shopping-list-links-icon-apple {
    width: 28px;
    height: 27px;
  }
  .shopping-list-links-icon-amazon {
    width: 48px;
    height: 15px;
  }
  .shopping-list-author-links {
    width: 530px;
    bottom: 24px;
    right: 24px;
    align-items: baseline;
    justify-content: space-between;
    display: flex;
  }
  .shopping-list-default-message {
    letter-spacing: -0.36px;
    max-width: 349px;
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
  }
  .shopping-list-default-picture {
    width: 322px;
    height: 241px;
    display: block;
  }
  .shopping-list-default {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: calc(1392px + 2 * 24px);
    padding-left: 24px;
    padding-right: 24px;
  }
  .shopping-list-container {
    display: flex;
  }
  .shopping-list-styles-tab {
    margin-left: 40px;
  }
  .shopping-list-title {
    margin-top: 0;
  }
  .page-shopping-list .shopping-list-support-ukraine {
    height: 474px;
  }
  .shopping-list-js-book {
    height: auto;
    min-width: 996px;
    gap: 24px;
    padding: 24px;
  }
  .shopping-list-description {
    width: 808px;
  }
  .shopping-list-default {
    margin-left: 355px;
  }
  .shopping-list-author-links {
    width: 822px;
  }
  .shopping-list-book-author {
    width: auto;
    bottom: 0;
  }
}
